<template>
  <div class="post flexbox">
    <div class="left-column">
      <input class="checkmark" type="checkbox" :checked="post.checked" @change="toggleChecked">
    </div>
    <div class="text-column" @click="!editMode && toggleEditMode()">
      <div v-if="!editMode" class="post-text" :class="post.checked && 'checked'" v-html="htmlText">
      </div>
      <textarea v-else v-model="editText" ref="textarea" rows="1" @blur="toggleEditMode" @input="resizeTextArea">
      </textarea>
    </div>
    <div class="right-column">
      <svg class="btn-delete" width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg" @click="deletePost" style="cursor: pointer">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 3V2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0H6C5.46957 0 4.96086 0.210714 4.58579 0.585786C4.21071 0.960859 4 1.46957 4 2V3H1C0.734784 3 0.48043 3.10536 0.292893 3.29289C0.105357 3.48043 0 3.73478 0 4C0 4.26522 0.105357 4.51957 0.292893 4.70711C0.48043 4.89464 0.734784 5 1 5H2V16C2 16.7956 2.31607 17.5587 2.87868 18.1213C3.44129 18.6839 4.20435 19 5 19H13C13.7956 19 14.5587 18.6839 15.1213 18.1213C15.6839 17.5587 16 16.7956 16 16V5H17C17.2652 5 17.5196 4.89464 17.7071 4.70711C17.8946 4.51957 18 4.26522 18 4C18 3.73478 17.8946 3.48043 17.7071 3.29289C17.5196 3.10536 17.2652 3 17 3H14ZM12 2H6V3H12V2ZM14 5H4V16C4 16.2652 4.10536 16.5196 4.29289 16.7071C4.48043 16.8946 4.73478 17 5 17H13C13.2652 17 13.5196 16.8946 13.7071 16.7071C13.8946 16.5196 14 16.2652 14 16V5Z"
          fill="#2c3e50"/>
        <path d="M6 7H8V15H6V7Z" fill="#2c3e50"/>
        <path d="M10 7H12V15H10V7Z" fill="#2c3e50"/>
      </svg>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  props: {
    post: {}
  },
  data() {
    return {
      editMode: false,
      editText: '',
    }
  },
  methods: {
    toggleChecked () {
      const post = Object.assign({}, this.post, { checked: !this.post.checked })
      this.$store.commit('updatePost', post)
    },
    toggleEditMode () {
      this.editMode = !this.editMode
      if (this.editMode) {
        this.editText = this.post.text
        Vue.nextTick(() => {
          this.$refs.textarea.focus()
          this.resizeTextArea()
        })
      } else {
        const post = Object.assign({}, this.post, { text: this.editText })
        this.$store.commit('updatePost', post)
      }
    },
    deletePost () {
      this.$store.commit('deletePost', this.post)
    },
    resizeTextArea () {
      this.$refs.textarea.style.height = (this.$refs.textarea.scrollHeight)+"px";
    }
  },
  computed: {
    htmlText: vm => vm.post.text.replace(/\n/g, "<br />") // allows for newlines in TODOs text
  }
}
</script>

<style lang="stylus" scoped>
.flexbox
  display: flex

.left-column
  flex: 0 0 25px;

.text-column
  flex: 1
.post-text.checked
  text-decoration: line-through;

.right-column
  text-align right
  flex: 0 0 25px

.checkmark
  cursor: pointer

textarea
  padding 0
  overflow: hidden;
  width: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  font-family Avenir, Helvetica, Arial, sans-serif
  background none
  margin-bottom: -4px;
  &:focus
    outline 1px solid #2196f3

</style>