<template>
  <div id="app">
    <div class="container">
      <h2 class="title">Simple Todo</h2>
      <input class="new-post" type="text" placeholder="New post ..." v-on:keyup.enter="onNewPost" v-model="newPostText" ref="newPost">
      <Post v-for="post in posts" :post="post" :key="post.id">
      </Post>
    </div>
  </div>
</template>

<script>
import Post from './components/Post'
export default {
  name: 'App',
  components: {
    Post
  },
  data() {
    return {
      newPostText: ''
    }
  },
  methods: {
    onNewPost() {
      this.$store.dispatch('createPost', this.newPostText)
      this.newPostText = ''
      this.$refs.newPost.blur()
    }
  },
  computed: {
    posts: vm => Object.values(vm.$store.state.posts)
      .sort((a, b) => b.created - a.created)
  }
}
</script>

<style lang="stylus">
body
  background: linear-gradient(90deg, #00b9ac, #ebbe74);

#app
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  margin-top 200px

.container
  max-width: 32em;
  margin: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;

.title
  text-align center

input.new-post
  width: 100%
  border: none
  border-bottom: 1px solid #ccc
  font-size: large
  margin-bottom: 20px
  outline none
  &:focus
    border-bottom: 1px solid #2196f3

.post:not(:last-child)
  margin-bottom 10px

</style>
